{
    "mail_server": {
        "smtp_server": "",
        "smtp_port": 587,
        "email_from": "",
        "sender_email": "",
        "sender_password": ""
    },
    "redis": {
        "host": "",
        "port": 6379
    },
    "queue": {
        "queue_name": ""
    },
    "sentry": {
        "dsn": ""
    }
}